REACT_APP_PUBLIC_IDENTITY_SERVER_HOST=https://id.statescan.io
REACT_APP_PUBLIC_API_END_POINT=https://dev-polkadot-api.statescan.io/

# statemine/statemint/westmint/polkadot/litmus/litentry
REACT_APP_PUBLIC_CHAIN=polkadot
REACT_APP_PUBLIC_SHOW_ASSETS_MENU=true
