REACT_APP_PUBLIC_IDENTITY_SERVER_HOST=https://id.statescan.io
REACT_APP_PUBLIC_API_END_POINT=https://dev-polkadot-api.statescan.io/
REACT_APP_PUBLIC_GRAPHQL_API_END_POINT=https://ksm-gh-api.statescan.io/

# statemine/statemint/westmint/polkadot/litmus/litentry/ethereum
REACT_APP_PUBLIC_CHAIN=polkadot
REACT_APP_DEFAULT_IPFS_GATEWAY=https://cloudflare-ipfs.com/ipfs/

REACT_APP_PUBLIC_SIMPLE_MODE=true

# development | production
REACT_APP_PUBLIC_MODE=production

# Only for EVM
# REACT_APP_PUBLIC_PROTOCOL=lido
# REACT_APP_PUBLIC_EVM_RPC_URL=https://eth.drpc.org

# Lido GraphQL URLs, only when REACT_APP_PUBLIC_PROTOCOL=lido
# For production
# REACT_APP_PUBLIC_LIDO_PRODUCT_GRAPHQL_URL=

# For development
# REACT_APP_PUBLIC_LIDO_STAKING_ROUTER_GRAPHQL_URL=
# REACT_APP_PUBLIC_LIDO_GRAPHQL_URL=
# REACT_APP_PUBLIC_LIDO_SERVER_URL=

# Optional, if you want to use browser router instead hash router.
#REACT_APP_BROWSER_ROUTER=1
